.add-user {
    background-color: white;
    color: black;
    position: fixed;
    width: 64px;
    height: 64px;
    right: 40px;
    bottom: 40px;
    border-radius: 50%;
    border: solid black;
    cursor: pointer;
}

.add-user:hover {
    background-color: gainsboro;
}

.friends-main-wrapper {
    width: 100vw;
    height: 100%;    
}

.listItem {
    border-bottom: 1px solid gainsboro;
}

.listItem:hover {
    background-color: gainsboro;
}

.list-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}