<div class="login-main-wrapper">
  <nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/logo/logo-svg.svg" width="40" height="40" alt="zettle logo">
    </a>
  </nav>
  <div class="login-wrapper">
    <div class="login-leftpane">
      <div class="login-leftpane-info">
        <ul>
          <li>Split your bills.</li>
          <li>Keep track of your expenses.</li>
          <li>Generate reports and plan with our analytics.</li>
        </ul>
      </div>
    </div>
    <div class="login-rightpane">
      <div class="login-rightpane-buttons">
        <div>
          <span class="caps">W</span><span>elcome to Zettle.</span>
        </div>
        <button type="button" class="btn btn-login">Facebook</button>
        <button type="button" class="btn btn-login">Google</button>
        <button type="button" class="btn btn-login">Twitter</button>
      </div>
    </div>
  </div>
</div>