.add-group {
    background-color: white;
    color: black;
    position: fixed;
    width: 64px;
    height: 64px;
    right: 40px;
    bottom: 40px;
    border-radius: 50%;
    border: solid black;
    cursor: pointer;
}