.add-bill {
    background-color: white;
    color: black;
    position: fixed;
    width: 64px;
    height: 64px;
    right: 40px;
    bottom: 40px;
    border-radius: 50%;
    border: solid black;
    cursor: pointer;
}

.add-bill:hover {
    background-color: gainsboro;
}

.bill-amount {
    font-size: 2em;    
    margin-left: 10px;
    margin-right: 10px;
}

